{% extends 'base.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">price</li>
        <li class="list-group-item">Автор: </li>
        <li class="list-group-item">Всего товаров автора:</li>
      </ul>
      <div class="card-body">
        <a href="" class="card-link">
          Подробнее
        </a>
        <a
          class="card-link"
          href=""
          >
          Категория:
        </a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Дата публикации: </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
