{% extends 'base.html' %}
{% block title %}
  {{ category_name.title }}
{% endblock title %}
{% block content %}
<h1>{{ category_name.title}}</h1>
<p>{{ category_name.description }}</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in page_obj %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'products:product_detail' product.pk %}">
          <div class="card-img-top text-center">
            {% if product.image %}
              {{ product.image }}
            {% else %}
              Нет изображения
            {% endif %}
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ product.title|linebreaksbr }}</h5>
          <p class="card-text">{{ product.description|linebreaksbr }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ product.price }} ₽</li>
          <li class="list-group-item">Продавец: {{ product.author.get_full_name }}</li>
          <li class="list-group-item">Всего товаров автора: {{ product.author.products_author_related.count }}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'products:product_detail' product.pk %}" class="card-link">
            Подробнее
          </a>
          {% if product.category %}
            <a
              class="card-link"
              href="{% url 'products:category_list' product.category.slug %}"
            >
              Категория: {{ product.category }}
            </a>
            {% endif %}
        </div>
        <div class="card-footer">
          <small class="text-muted">Дата публикации: {{ product.pub_date|date:"d E Y" }}</small>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% include 'includes/paginator.html' %}
{% endblock %}