{% extends 'base.html' %}
{% block title %}
  {{ category_name.title }}
{% endblock title %}
{% block content %}
  <h1>{{ category_name.title}}</h1>
  <p>{{ category_name.description }}</p>
  {% for product in page_obj %}
    <article>
      <ul>
        <li>
          {{ product.title}}
        </li>
        {% if product.image %}
        <li>
          {{ product.image }}
        </li>
        {% endif %}
        <li>
          {{ product.price}} рублей
        </li>
        <li>
          Автор: {{ product.author.get_full_name}}
        </li>
        <li>
          Дата публикации: {{ product.pub_date|date:"d E Y" }}
        </li>
        <li>
          Всего товаров автора: {{ product.author.products_author_related.count }}
        </li>
      </ul>
      <p>{{ product.description|linebreaksbr }}</p>
    </article>
    <a
      class="btn btn-primary"
      href=""
      role="button">
      Все товары пользователя
    </a>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}