<div class="col">
    <div class="card h-100">
      <a href="{% url 'products:product_detail' product.pk %}">
        <div class="card-img-top text-center">
          {% if product.image %}
            {{ product.image }}
          {% else %}
            Нет изображения
          {% endif %}
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ product.title|linebreaksbr }}</h5>
        <p class="card-text">{{ product.description|linebreaksbr }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ product.price }} ₽</li>
        <li class="list-group-item">Продавец:
          <a
          class="card-link"
          href="{% url 'products:profile' product.author %}"
          >
            {{ product.author.get_full_name }}
          </a>
        </li>
        <li class="list-group-item">Всего товаров автора: {{ product.author.products_author_related.count }}</li>
      </ul>
      <div class="card-body text-center">
        <a href="{% url 'products:product_detail' product.pk %}" class="card-link">
          Подробнее
        </a>
        {% if product.category %}
        <a
          class="card-link"
          href="{% url 'products:category_list' product.category.slug %}"
          >
          {{ product.category }}
        </a>
        {% endif %}
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Дата публикации: {{ product.pub_date|date:"d E Y" }}</small>
      </div>
    </div>
</div>